{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ================= HOME HERO ================= -->
<section class="hero">
    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1>SSK 생성형AI역기능연구단</h1>
        <p>사용자 관점에서의 생성형AI 역기능연구</p>
    </div>
</section>


<!-- ================= HOME MAIN CONTENT ================= -->
<div class="main-content">

    <!-- Latest Events -->
    <h2 class="section-title" style="margin-top:80px;">최근 행사</h2>

    <div class="card-grid">

    {% for event in latest_events %}
    <a href="{% url 'event_detail' event.id %}" class="home-card-link">

        <div class="card">

            {% if event.main_image %}
                <img src="{{ event.main_image.0.image.url }}" class="home-card-img">
            {% endif %}

            <div class="card-body">
                <h4>{{ event.title }}</h4>

                {% if event.event_date %}
                    <p>{{ event.event_date|date:"Y.m.d" }}</p>
                {% else %}
                    <p>{{ event.created_at|date:"Y.m.d" }}</p>
                {% endif %}

            </div>

        </div>

    </a>
    {% endfor %}

</div>



{% endblock %}
